
body {
  background: url("https://lh6.googleusercontent.com/-2B7L92MccL4/VDLrfpydAPI/AAAAAAAAExk/gH76E5BarP8/s0/fundos%252520%25252852%252529.jpg");
  font-family: "Dosis", sans-serif;
  background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem;
  gap: 3rem;
}

h1{
    width: 800px;
    display: block;
    margin: 0 auto;
    border-radius: 80px;
    color: purple;
    background-color: #2D5779;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    padding: 0.5em 0;
    box-shadow: 5px 4px 4px COR DA SOMBRA DO TÍTULO;
}
.cartao {
  margin: 1rem 1rem;
  height: 20rem;
  flex-grow: 1;
  flex-basis: calc(33% - 6rem);
}

.cartaoconteudo {
  background-color: COR DO CARTÃO;
  text-align: center;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms ease-in-out;
  border-radius: 500px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.cartaoconteudo h3 {
  color: COR DO TEMA;
  border: 1px solid COR DA BORDA DO TEMA;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  padding: 0.5rem;
  padding-top: 0px;
  position: absolute;
  margin: 0.6rem;
  border-radius: 0.6rem;
  font-size: 1vw;
  backface-visibility: hidden;
  font-family: FONTE DO TEMA;
}

.cartaoconteudo p {
  margin-top: 1rem;
  padding: 2rem;
  margin-top: 4rem;
  font-size: 1.4vw;
  padding-top: 0px;
}

.pergunta p {
  color: COR DA PERGUNTA;
  font-weight: 500;
  font-size: TAMANHO DA FONTE DA PERGUNTA;
}

.resposta p {
  color: COR DA RESPOSTA;
  font-weight: 700;
  font-size: TAMANHO DA FONTE DA RESPOSTA;
}

.cartao.active .cartaoconteudo {
  transform: rotateY(180deg);
}

.pergunta,
.resposta {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.resposta {
  transform: rotateY(180deg);
  background-color: COR DO CARD QUANDO APARECER A RESPOSTA;
  border-radius:500px;
}

footer {
  background-color: transparent;
  color: COR DA LETRA DO RODAPÉ;
  background-color: COR DO RODAPÉ;
  text-align: center;
  font-weight: 700;
  padding: 0.5em 0;
  box-shadow: 5px 4px 4px COR DA SOMBRA;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  font-family: SUA FONTE;
  padding-bottom: 20px;
  
}

footer p {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0.5rem;
  font-size: 25px;
}

footer a{
  text-decoration: none;
  color: COR DO SEU NOME;
}

footer a:hover{
  text-decoration: underline;
  color: COR DO SEU NOME QUANDO PASSAR A MÃO;
}
@media (max-width: 560px) {
  
  h1{
    width: 100%;
    text-align: center;
    font-size: 5vw; 
  }
  .cartao {
      flex: 1 0 calc(100% - 1rem)
  }

  .cartaoconteudo h3 {
      font-size: 3vw;
  }

  .cartaoconteudo p {
      font-size: 5vw;
  }
  
}